*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
#canvas-1{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
}